body {
  background-image: url("asset/tacopattern.jpg");
}
img{
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
word{
    
    text-align: center;
  border-left: 8px solid blue;
  background-color: lightgrey;
}
blrb{
    font-size: 10vw;
    text-align: center;
}
